.changelogNotification::before {
  content: '';
  position: absolute;
  top: 5px;
  right: 2px;
  width: 10px;
  height: 10px;
  background-color: #ff0000;
  border-radius: 50%;
  border: 2px solid #fff;
}

.changelogNotification {
  position: relative;
}

@media only screen and (min-width: 1px) and (max-width: 992px) {
  .notificationText {
    display: none;
  }
  .changelogNotification::before {
    top: 0;
  }
}
