.button>svg {
  width: 20px;
}


.dialog {
  overflow: hidden;
  padding: 0 1rem 1rem;
  opacity: 0;
  box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  margin-right: 3rem;
  position: fixed;
  visibility: hidden;
  right: 60px;
  bottom: 60px;

  right: 0;
  background-color: white;
  z-index: 1000;
  border: none;
  border-radius: 0.25rem;
  border: 1px solid var(--background-action-high-blue-france);

  &:focus-within {
    outline-color: #0a76f6;
    outline-offset: 2px;
    outline-width: 2px;
  }

  &[aria-hidden='false'] {
    animation: fadeIn 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    visibility: visible;
  }

  &>button:first-of-type {
    position: absolute;
    top: 0;
    right: 0;
  }

  & fieldset {
    border: none;
    padding: 0;
  }
}

.type {
  composes: fr-input-group from global radio-group from '#components-ui/multi-choice/style.module.css';
  gap: 0.5rem;
  margin-bottom: 1rem;

  & legend {
    margin-bottom: 0.5rem;
  }
}

@media only screen and (min-width: 1px) and (max-width: 588px) {
  .button {
    right: 0.75rem;
    bottom: 0.75rem;
    transform: scale(0.8);
  }

  .dialog {
    margin-right: 0;
    margin-left: 0;
    max-width: 100%;
    border-radius: 0;
    bottom: 0;
    right: 0;
    top: 0;
    height: 100%;
    border: none;
  }
}

@keyframes fadeIn {
  from {
    transform: translateY(50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}