.headerSection {
  display: block;
  margin-bottom: 40px;

  @media only screen and (min-width: 1px) and (max-width: 992px) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.headerSection > div:first-of-type {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0;

  @media only screen and (min-width: 1px) and (max-width: 992px) {
    margin-top: 10px;
  }
}
.headerSection > div:first-of-type h1 {
  margin: 0;
  margin-bottom: 7px;
  line-height: 2.5rem;
}
.headerSection > div:first-of-type h1 > a {
  padding: 0;
  margin: 0;
  font-variant: all-small-caps;
}

.subTitle {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 5px;
}
.sirenTitle {
  font-size: 1.1rem;
  font-variant: small-caps;
  color: #666;
}

.subSubTitle:before {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-left: 15px;
  content: "";
  border: 1px solid #bbb;
  border-top: none;
  border-right: none;
}
