.etablissementTitle h1 {
  line-height: 1.5rem;
  font-size: 1.4rem;
}

.subTitle {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.sirenOrSiret {
  font-variant: small-caps;
  font-size: 1.1rem;
  color: #666;
}

.subSubTitle:before {
  content: '';
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-left: 15px;
  margin-bottom: 4px;
  border: 1px solid #bbb;
  border-top: none;
  border-right: none;
  position: relative;
  display: inline-block;
}
