.titleBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 40px;

  @media screen and (max-width: 768px) {
    flex-direction: column-reverse;
    gap: 20px;
  }
}

.titleBlockContent {
  max-width: 500px;
}

.titleBlock > div:last-of-type {
  flex-grow: 1;
}

.subTitle {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.sirenOrSiret {
  font-variant: small-caps;
  font-size: 1.1rem;
  color: #666;
}

.subSubTitle {
  display: flex;
}
.subSubTitle:before {
  content: "";
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-left: 15px;
  margin-bottom: 4px;
  border: 1px solid #bbb;
  border-top: none;
  border-right: none;
  position: relative;
  display: inline-block;
}

.subSubTitle > div:first-of-type {
  margin-top: 7px;
}

.subSubTitle > div > div:last-of-type {
  border: 2px solid var(--annuaire-colors-pastelBlue);
  margin-top: 10px;
  padding: 15px 15px 5px 15px;
}
