.npsModal {
  display: none;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 0.9rem;
  width: 100%;
  background-color: #fffde6;
  font-family: 'Marianne' sans-serif;
  border-bottom: 2px solid #000091;
}

.npsModal > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
