.socialMedia {
  color: var(--annuaire-colors-frBlue);
  margin: 10px 0;
}

.socialMedia button,
.socialMedia a {
  background: none !important;
  border: none;
  padding: 0.5rem;
  margin: 0 5px;
}

.socialMedia button:focus-visible,
.socialMedia a:focus-visible {
  outline: 2px solid var(--annuaire-colors-frBlue);
}

.socialMedia span a:after {
  display: none;
}
