.socialMedia {
  color: #000091;
  margin: 1rem 0;
}

.socialMedia button,
.socialMedia a {
  background: none !important;
  border: none;
  padding: 0.5rem;

}


.socialMedia button:focus-visible,
.socialMedia a:focus-visible {
  outline: 2px solid #000091;
}

.socialMedia span a:after {
  display: none;
}