.DS_Store
.git
.github
.next
.output
.pnpm-store
.vercel
.vscode
coverage
dist
node_modules
playwright-report
test-results

.env
.env.*

npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
