{
  "rules": {
    "no-console": [
      "error",
      {
        "allow": ["warn", "error"]
      }
    ],
    "import/order": [
      "error",
      {
        "pathGroupsExcludedImportTypes": ["builtin"],
        "pathGroups": [
          {
            "group": "internal",
            "pattern": "#clients/**"
          },
          {
            "group": "internal",
            "pattern": "#components/**"
          },
          {
            "group": "internal",
            "pattern": "#components-ui/**"
          },
          {
            "group": "internal",
            "pattern": "#models/**"
          },
          {
            "group": "internal",
            "pattern": "#public/*"
          },
          {
            "group": "internal",
            "pattern": "#utils/*"
          }
        ],
        "newlines-between": "never",
        "groups": [
          "builtin",
          "external",
          "internal",
          ["parent", "sibling", "index"]
        ]
      }
    ],
    "@next/next/no-css-tags": "off",
    "@next/next/no-head-element": "off",
    "@next/next/no-html-link-for-pages": "off",
    "@next/next/no-img-element": "off",
    "@next/next/no-sync-scripts": "off",
    // no need for unique key in maps as we dont use react on client/front
    "react/jsx-key": "off",
    "react/no-children-prop": "off",
    "react/jsx-props-no-spreading": [
      "warn",
      {
        "html": "ignore"
      }
    ],
    "import/no-anonymous-default-export": [2, { "allowObject": true }]
  },
  "extends": "next"
}
