.outer-outer-container {
    display: flex;
    flex: 1 1 0%;
    justify-content: center;
}

.outer-container {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    min-width: 100vw;
}