button,
a {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

p,
.section-container,
h1,
h2,
h3,
.results-list {
  /* break very long word */
  word-break: break-word;
  /* preserve whitespace */
  white-space: pre-wrap;
}

.layout-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.layout-center.vertical-margin {
  margin: 10px auto;
}

.layout-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.layout-right.vertical-margin {
  margin: 10px auto;
}

.layout-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.layout-left .vertical-margin {
  margin: 10px auto;
}

.font-small {
  font-size: 0.9rem;
}

.cursor-pointer {
  cursor: pointer;
}

.content-container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
main {
  min-height: 400px;
}

.text-wrapper {
  margin: 80px auto;

  @media only screen and (min-width: 864px) {
    width: 874px;
  }

  @media only screen and (min-width: 1px) and (max-width: 864px) {
    width: 100%;
  }
}

h1 {
  font-size: 2rem;
  line-height: 3rem;
  margin: 50px 0 10px;
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 40px 0 10px;
}

h3 {
  font-size: 1.2rem;
  line-height: 1.9rem;
  margin: 32px 0 10px;
}

h4 {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin: 22px 0 10px;
}

p {
  margin: 20px 0;
}

@media only screen and (min-width: 1px) and (max-width: 600px) {
  h1 {
    font-size: 1.8rem;
    line-height: 2.2rem;
    margin: 40px 0 15px;
  }

  h2 {
    font-size: 1.4rem;
    line-height: 1.7rem;
    margin: 30px 0 16px;
  }

  h3 {
    font-size: 1.1rem;
    line-height: 1.9rem;
    margin: 12px 0 16px;
  }

  h4 {
    font-size: 1.1rem;
    line-height: 1.9rem;
    margin: 12px 0 16px;
  }
}

/* Carte Map libre */

.maplibregl-marker {
  z-index: 10000;
}
