.team-members {
  margin: 60px auto;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.team-member {
  text-align: center;
  width: 80px;
}

.team-member img {
  width: 100px;
  border-radius: 50%;
  border: 5px solid #fff;
}
