.team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 60px auto;
}

.team-member {
  width: 80px;
  text-align: center;
}

.team-member img {
  width: 100px;
  height: auto;
  border: 5px solid #fff;
  border-radius: 50%;
}
