.floating-modal {
  --gutter-vertical: 1rem;
  --gutter-horizontal: 1.5rem;
  padding: var(--gutter-vertical) var(--gutter-horizontal);
  background-color: #fff;
  border: 1px solid var(--annuaire-colors-pastelBlue);
  border-radius: 0.25rem;
}

.footer {
  padding: var(--gutter-vertical) var(--gutter-horizontal);
  margin: calc(var(--gutter-vertical) * 2) calc(var(--gutter-horizontal) * -1)
    calc(var(--gutter-vertical) * -1);
  font-size: 0.9rem;
  background-color: var(--background-alt-grey);
}

@media only screen and (min-width: 1px) and (max-width: 768px) {
  .no-mobile .footer {
    background-color: transparent;
  }

  .no-mobile.floating-modal {
    padding: 0;
    border: none;
    box-shadow: none;
  }
}

.elevation-low {
  box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.3);
}

.elevation-high {
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.3);
}
