.copyButton {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  text-align: left;
  cursor: pointer;
  background: none !important;
  border: none;
}

.copyIconDisabled:hover {
  border-radius: 3px;
}

.copyIconDisabled:hover {
  background-color: var(--annuaire-colors-pastelBlue) !important;
}

.copyIconDisabled:active {
  background-color: var(--annuaire-colors-pastelBlue) !important;
  filter: brightness(0.9);
}

.copyIcon {
  display: inline-flex;
  align-items: center;
  padding: 0 4px;
  font-size: 0.9rem;
  color: var(--annuaire-colors-frBlue);
  background-color: var(--annuaire-colors-pastelBlue);
  border-radius: 3px;
  animation: fadeIn 0.1s ease-in-out;
  will-change: transform, opacity;
}

.copyIconAbsolute {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100;
  box-shadow: -5px 0px 2px 5px rgba(255, 255, 255, 1);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
