table.two-column-table {
    border-collapse: collapse;
    text-align: left;
    color: #081d35;
    width: 100%;
}

.two-column-table tr>td:first-of-type {
    font-weight: bold;
    padding-right: 30px;
    padding-left: 10px;
    border-right-width: 1px;
    border-right-style: solid;
    vertical-align: baseline;

    /* Min width does not work in table cells https://stackoverflow.com/a/29379832 */
    width: 30%;

}

.two-column-table tr>td:first-of-type>div {
    min-width: 140px;
}

.two-column-table td,
.two-column-table th {
    border: none;
    padding: 3px;
    background-color: #fff;
    padding-left: 30px;
}

table.two-column-table>thead {
    display: none;
}

@media only screen and (min-width: 1px) and (max-width: 576px) {
    .two-column-table tr {
        display: flex;
        flex-direction: column;
        margin: 15px 0;
    }

    .two-column-table tr>td {
        border: none;
        padding: 0;
        margin: 0;
    }

    .two-column-table tr>td:first-of-type {
        border: none;
        padding: 0;
        margin: 0;
    }
}

td.cell {
    width: auto;
    padding: 5px 3px;
    background-color: #fff;
    padding-left: 30px;
}

@media only screen and (min-width: 1px) and (max-width: 576px) {
    td.cell {
        display: block;
        width: 100% !important;
        padding: 0;
        margin: 0;
        margin-bottom: 0.5rem !important;
    }
}