table.fullTable {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
  /* Do not break word on full table */
  word-break: initial;
}
tbody.stripes > tr.row:nth-of-type(odd) {
  background-color: rgb(248, 248, 252);
}

td.cell {
  border: none;
  padding: 10px 5px;
}

@media only screen and (min-width: 1px) and (max-width: 992px) {
  table.fullTable,
  td.cell {
    display: block;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  thead.head {
    display: none;
  }

  tr.row:hover td.cell {
    background-color: transparent;
  }

  tr.row {
    padding: 20px 0;
  }
}

@media (min-width: 993px) {
  .mobile {
    display: none;
  }
}
