.inscriptions-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 20px;
}
.inscriptions-wrapper > div {
  flex-grow: 1;
}

.inscriptions-wrapper > div:last-of-type {
  margin: 5px 0;
}
