.container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.content {
  margin: 0;
  overflow: hidden;
  text-align: justify;
}

.clamped {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-lines);
}

.button {
  align-self: flex-start;
  width: fit-content;
  padding: 0;
  color: var(--text-action-high-blue-france);
  text-decoration: underline;
  cursor: pointer;
  background: transparent;
  border: 0;
}

.button:hover {
  color: var(--text-action-high-blue-france-hover);
}

.button:focus-visible {
  outline: 2px solid var(--border-active-blue-france);
  outline-offset: 2px;
}

@media print {
  .clamped {
    display: block;
    -webkit-line-clamp: none;
  }

  .button {
    display: none;
  }
}
