button,
a {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

a.no-style-link {
  box-shadow: none;
  background-image: none !important;
}

p,
.section-container,
h1,
h2,
h3,
.results-list {
  /* break very long word */
  word-break: break-word;
  /* preserve whitespace */
  white-space: pre-wrap;
}

table.full-table {
  /* Do not break word on full table */
  word-break: initial;
}

.layout-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.layout-center.vertical-margin {
  margin: 10px auto;
}

.layout-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.layout-right.vertical-margin {
  margin: 10px auto;
}

.layout-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.layout-left .vertical-margin {
  margin: 10px auto;
}

.layout-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.font-small {
  font-size: 0.9rem;
}

.cursor-pointer {
  cursor: pointer;
}

.content-container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  margin-top: 20px;
}
main {
  min-height: 400px;
}

h1 {
  font-size: 1.8rem;
  line-height: 2.6rem;
  margin: 50px 0 10px;
}

h2 {
  font-size: 1.3rem;
  line-height: 1.8rem;
  margin: 40px 0 10px;
}

h3 {
  font-size: 1.1rem;
  line-height: 1.6rem;
  margin: 32px 0 10px;
}

h4 {
  font-size: 1.1rem;
  line-height: 1.4rem;
  margin: 22px 0 10px;
}

p {
  margin: 20px 0;
}

@media only screen and (min-width: 1px) and (max-width: 576px) {
  h1 {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin: 40px 0 15px;
  }

  h2 {
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin: 30px 0 16px;
  }

  h3 {
    font-size: 1.1rem;
    line-height: 1.9rem;
    margin: 12px 0 16px;
  }

  h4 {
    font-size: 1.1rem;
    line-height: 1.9rem;
    margin: 12px 0 16px;
  }
}

/* Carte Map libre */
.maplibregl-marker {
  z-index: 10000;
}
