.title {
  text-align: center;
  margin-top: 30px;
}

.centered-search {
  margin-bottom: 32vh;
  margin-top: 10vh;
  max-width: 900px;
}

.search-bar-wrapper {
  margin: auto;
  margin-top: 30px;
  flex-direction: column;
  width: 100%;
  max-width: 450px;
}

.page-layout {
  width: 100%;
}
