    .wrapper {
        position: relative;
    }

    .wrapper .tooltip {
        font-size: 0.9rem;
        background: #444;
        border-radius: 5px;
        bottom: calc(100% + 10px);
        color: #fff;
        font-weight: normal;
        display: block;
        visibility: hidden;
        padding: 10px;
        font-style: normal;
        pointer-events: none;
        position: absolute;
        z-index: 1000;
    }

    /* This bridges the gap so you can mouse into the tooltip without it disappearing */
    .wrapper .tooltip:before {
        bottom: -10px;
        content: ' ';
        display: block;
        height: 20px;
        left: 0;
        position: absolute;
        width: 100%;
    }

    /*small triangle */
    .wrapper .tooltip.center:after,
    .wrapper .tooltip.left:after,
    .wrapper .tooltip.right:after {
        bottom: -5px;
        content: ' ';
        height: 0;
        position: absolute;
        width: 0;
    }

    .wrapper .tooltip.center:after {
        border-left: solid transparent 5px;
        border-right: solid transparent 5px;
        border-top: solid #444 5px;
        left: 50%;
    }

    .wrapper .tooltip.left:after {
        border-bottom: solid transparent 5px;
        border-right: solid transparent 5px;
        border-left: solid #444 5px;
        left: 0;
    }

    .wrapper .tooltip.right:after {
        border-bottom: solid transparent 5px;
        border-left: solid transparent 5px;
        border-right: solid #444 5px;
        right: 0;
    }

    .tooltip.displayed,
    .tooltip.displayed {
        will-change: opacity, visibility;
        visibility: visible !important;
        pointer-events: auto !important;
        animation: fadeIn 75ms ease-in-out;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(3px);
        }

        to {
            opacity: 0.95;
            transform: translateY(0);
        }
    }

    @media only screen and (min-width: 1px) and (max-width: 576px) {
        .tooltip.displayed {
            visibility: visible !important;
            pointer-events: auto !important;
            opacity: 0.95;
        }

        .wrapper .tooltip {
            transition: opacity 300ms ease-in-out;
            opacity: 0;
            position: fixed;
            width: auto;
            top: 0;
            left: 0;
            right: 0;
            border-radius: 0;
            height: 30%;
            overflow: auto;
        }

        .wrapper .tooltip:after,
        .wrapper .tooltip:before {
            display: none;
        }
    }

    .data-source {
        display: inline-flex;
        font-size: 0.7rem;
        padding: 2px 10px;
        border-radius: 40px;
        text-decoration: underline !important;
        background-color: var(--annuaire-colors-pastelBlue) !important;
    }

    .data-source:hover {
        filter: brightness(0.95);
    }

    .updated-at {
        font-size: 0.7rem;
        white-space: nowrap;
    }