.activeLink {
  background-color: #fff !important;
  border-bottom: 0 !important;
  box-shadow: none !important;

  @media only screen and (min-width: 1px) and (max-width: 768px) {
    line-height: 1.8rem !important;
    border-bottom: 2px solid var(--annuaire-colors-pastelBlue) !important;
  }
}

.titleTabs {
  display: flex;
  flex-grow: 1;
  font-size: 0.9rem;
  border-bottom: 2px solid var(--annuaire-colors-pastelBlue);

  @media only screen and (min-width: 1px) and (max-width: 768px) {
    flex-direction: column;
    border-bottom: 0;
  }
}

.titleTabs > a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 0 4px;
  margin-bottom: -2px;
  text-align: center;
  background-color: #efeffb;
  border: 2px solid var(--annuaire-colors-pastelBlue);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0 -8px 5px -5px var(--annuaire-colors-pastelBlue) inset;
}

.titleTabs > a > h2 {
  padding: 0;
  margin: 0;
}

.titleTabs > a,
.titleTabs > a > h2 {
  max-width: 150px;
  font-size: 0.9rem;
  font-weight: bold;
  line-height: 1.1rem;
  color: var(--annuaire-colors-frBlue);

  @media only screen and (min-width: 1px) and (max-width: 768px) {
    width: auto !important;
    max-width: none;
    padding: 3px;
    margin: 3px;
  }
}

.titleTabs > a:hover,
.titleTabs > a:focus {
  background-color: var(--annuaire-colors-pastelBlue);
}

.titleTabsEtablissement a h2 {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-size: 0.9rem;
  font-weight: bold;
  line-height: 1rem;
}
