/*
 * DSFR v1.1.0 | SPDX-License-Identifier: MIT | License-Filename: LICENCE.md | restricted use (see terms and conditions)
 */
@charset "UTF-8";

/* ------------------------------------ *\
  ALERTS
\* ------------------------------------ */

.fr-alert {
  position: relative;
  padding: 1rem 2.25rem 0.75rem 3.5rem;
}

.fr-alert::before {
  font: normal normal normal 1.5rem/1 dsfr-icons;
}

.fr-alert::before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 1rem 0.5rem;
}

.fr-alert p, .fr-alert h1, .fr-alert h2, .fr-alert h3, .fr-alert h4,
.fr-alert h5, .fr-alert h6 {
  margin-bottom: 0.25rem;
}

.fr-alert__title {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.fr-alert .fr-link--close {
  position: absolute;
  top: 0.25rem;
  right: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
  min-height: 2rem;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
  flex-direction: row;
  overflow: hidden;
  max-width: 2rem;
  max-height: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.fr-alert .fr-link--close::before {
  font: normal normal normal 1rem/1 dsfr-icons;
}

.fr-alert .fr-link--close::before {
  margin-left: 0;
  margin-right: 0.5rem;
  font-size: 1rem;
}

.fr-alert + .fr-alert {
  margin-top: 1rem;
}

.fr-alert--info::before {
  font: normal normal normal 1.5rem/1 dsfr-icons;
  content: "";
}

.fr-alert--success::before {
  font: normal normal normal 1.5rem/1 dsfr-icons;
  content: "";
}

.fr-alert--error::before {
  font: normal normal normal 1.5rem/1 dsfr-icons;
  content: "";
}

.fr-alert--warning::before {
  font: normal normal normal 1.5rem/1 dsfr-icons;
  content: "";
}

.fr-alert--sm {
  padding: 0.5rem 2.25rem 0.25rem 3rem;
}

.fr-alert--sm::before {
  padding: 0.5rem 0.5rem;
}

.fr-alert {
  box-shadow: inset 0 0 0 1px var(--g500), inset 2.5rem 0 0 0 var(--g500);
}

.fr-alert::before {
  color: var(--w);
}

.fr-alert--info {
  box-shadow: inset 0 0 0 1px var(--info), inset 2.5rem 0 0 0 var(--info);
}

.fr-alert--error {
  box-shadow: inset 0 0 0 1px var(--error), inset 2.5rem 0 0 0 var(--error);
}

.fr-alert--success {
  box-shadow: inset 0 0 0 1px var(--success), inset 2.5rem 0 0 0 var(--success);
}

.fr-alert--warning {
  box-shadow: inset 0 0 0 1px var(--warning), inset 2.5rem 0 0 0 var(--warning);
}

@media (min-width: 48em) {
  .fr-alert__title {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}
