.tvaListContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
}

.tvaList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

.tvaListItem {
  display: flex;
  flex-wrap: nowrap;
  width: 142px;
  max-width: 142px;
  overflow: visible;
  white-space: nowrap;
}

.tvaListItem button {
  font-variant-numeric: tabular-nums;
}

.tvaShowMoreButton {
  width: fit-content;
  padding: 0;
  color: var(--text-action-high-blue-france);
  text-decoration: underline;
  cursor: pointer;
  background: transparent;
  border: 0;
}

.tvaShowMoreButton:hover {
  color: var(--text-action-high-blue-france-hover);
}

.tvaShowMoreButton:focus-visible {
  outline: 2px solid var(--border-active-blue-france);
  outline-offset: 2px;
}
