.menuLogout {
  position: relative;
  z-index: 10;
  cursor: pointer;
}

.menuLogout>.dialog {
  position: absolute;
  right: -1rem;
  z-index: 11;
  visibility: hidden;
  width: max-content;
}

.menuLogout:hover>.dialog,
.menuLogout:focus>.dialog,
.dialog:focus-within,
.dialog:hover {
  visibility: visible !important;
  animation: appear 0.1s ease-in-out forwards;

}

.dialog a:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 1px) and (max-width: 992px) {
  .menuText {
    display: none;
  }
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}