.menuLogout {
  position: relative;
  font-size: small;
}
.menuLogout > button {
  margin: 0 !important;
}
.menuLogout > button:focus-visible + .dialog a {
  outline: 2px solid #0476f5;
}
.menuLogout > button[aria-expanded='true'] {
  background-color: #eee;
}
.menuLogout > button[aria-expanded='true']:focus-visible {
  outline: none;
}
.dialog {
  position: absolute;
  padding: 1rem;
  min-width: max-content;
  position: absolute;
  z-index: 10;
  visibility: hidden;
  will-change: transform, opacity;
}

.dialog.opened {
  visibility: visible !important;
  animation: appear 0.15s ease-in-out forwards;
}

.dialog a {
  display: block;
  color: var(--annuaire-colors-frBlue);
  margin: 0rem !important;
}

.dialog a:hover {
  text-decoration: underline !important;
}

@media only screen and (min-width: 1px) and (max-width: 992px) {
  .menuText {
    display: none;
  }

  .dialog {
    top: 0.25rem;
    right: 0.5rem;
  }

  .dialog.opened {
    visibility: visible !important;
    animation: appear-right 0.1s ease-in-out forwards;
  }
}

@media only screen and (min-width: 993px) {
  .dialog {
    right: 0;
    left: 0;
    top: 100%;
    border: none;

    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .dialog.opened {
    visibility: visible !important;
    animation: appear-top 0.15s ease-in-out forwards;
  }
}

@keyframes appear-top {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes appear-right {
  from {
    opacity: 0;
    transform: translateX(10%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
