.section-container {
  border-width: 2px;
  border-style: solid;
  border-radius: 2px;
  position: relative;
  margin: 20px 0 40px;
  padding: 1rem;
  contain: content;
}

.section-container>h2 {
  margin-top: 0;
  margin-bottom: 25px;
  display: inline-block;
  font-size: 1.1rem;
  line-height: 1.8rem;

  padding: 0 7px;
  border-radius: 2px;
  max-width: calc(100% - 250px);
}

.administration-page-link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 25px;
}

.section-logo-wrapper {
  position: absolute;
  top: 25px;
  right: 16px;
  display: flex;
  justify-content: flex-end;
}

@media only screen and (min-width: 1px) and (max-width: 768px) {
  .section-logo-wrapper {
    display: none;
  }

  .section-container>h2 {
    max-width: 100%;
  }
}

.protected {
  position: absolute;
  background: var(--annuaire-colors-espaceAgentPastel);
  top: 0;
  left: calc(50% - 115px);
  width: 230px;
  text-align: center;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  color: var(--annuaire-colors-espaceAgent);
  font-weight: bold;
  font-size: 0.9rem;

  @media only screen and (min-width: 1px) and (max-width: 992px) {
    background: var(--annuaire-colors-espaceAgentPastel);
    top: -14px;
    text-align: center;
    border-radius: 20px;
  }
}