.modalOverlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);

  @media only screen and (min-width: 1px) and (max-width: 650px) {
    align-items: end;
  }
}

.fullScreenModal {
  position: relative;
  z-index: 1000;
  width: 100%;
  max-width: 650px;
  max-height: 90vh;
  padding: 4rem 2rem 2rem 2rem;
  overflow-y: auto;

  @media only screen and (min-width: 1px) and (max-width: 650px) {
    height: 70vh;
  }
}

.fullScreenModalFull {
  max-width: calc(100% - 2rem);
  max-height: calc(100% - 2rem);
  padding: 0;
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
