.leaveFondations {
  width: 100%;
  padding: 12px 0px;
  color: var(--annuaire-colors-frBlue);
  background-color: var(--annuaire-colors-fondation);
}

.leaveUniteLegale {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
  padding: 12px 10px;
  font-size: 1.1rem;
  color: var(--annuaire-colors-frBlue);
  background-color: var(--annuaire-colors-fondation);
}
