.navContainer {
  min-height: 67px;

  background: radial-gradient(
    61.94% 118.71% at 36.66% 38.06%,
    #f9c5e1 0%,
    #d8e6ff 100%
  );
}

.navContainerContent {
  min-height: 67px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}

.navTabsList {
  list-style-type: none;
  padding-left: 0;
  margin-top: auto;
  width: fit-content;
}

.navTabItem {
  padding-bottom: 0;
}

.navLinks {
  min-width: fit-content;
  margin-left: auto;
  order: 2;
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 768px) {
  .navLinks {
    margin-left: 0;
    padding: 1rem 0;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.button {
  background-color: #fff;
}

.cardHabilitation {
  background-color: #fff;
  border: 1px solid var(--purple-glycine-main-494);
  border-radius: 6px;
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
  box-shadow: 0px 0px 8.1px 0px #0000bd47;
}

.cardHabilitationTitle {
  font-size: 1.1rem;
  font-weight: 700;
}

.cardHabilitationDescription {
  font-size: 1.1rem;
  font-weight: 400;
}

.loaderContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.chevronContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tableFullWidth {
  width: 100% !important;
}

.groupNameColumn {
  width: 40%;
}

.adminColumn {
  width: calc(60% - 50px);
}

.actionColumn {
  width: 89px;
}

.chevronColumn {
  width: 50px;
}

.groupRow {
  cursor: pointer;
}

.groupRow:hover td {
  background-color: var(--background-alt-grey) !important;
}

.expandedGroupRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.expandedGroupRowRights {
  display: flex;
  flex-wrap: wrap;
  gap: 0.1rem;
}

.joinGroupButton {
  width: fit-content;
}
