.blur {
  display: none;
}

@media only screen and (min-width: 768px) {
  .cta-wrapper {
    position: relative;
  }

  .blur {
    filter: blur(6px);
    user-select: none;
    bubble-event: none;
    pointer-events: none;
    display: block;
  }

  .cta-actes {
    margin: 20px 20%;
    position: absolute;
    z-index: 10;
  }

  .cta-actes > h3 {
    margin: 10px;
  }
}
