.selected-filter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 30px 5px 10px;
  color: var(--annuaire-colors-frBlue);
  background-color: var(--annuaire-colors-pastelBlue);
  border: 1px solid var(--annuaire-colors-frBlue);
  border-radius: 3px;
}

.selected-filter-container:hover {
  border-color: #0a76f6;
}

.selected-filter-container > a {
  position: absolute;
  right: 0;
  padding: 5px 10px 5px 5px;
  font-weight: bold;
}

.selected-filter-container > a:hover {
  background-color: #00009111;
}

/* === filter menu === */

div.search-filter-label-container {
  position: relative;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 0;
  margin-right: 8px;
  user-select: none;
}

.search-filter-label {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  color: var(--text-default-grey);
  cursor: pointer;
  user-select: none;
  background: none;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.search-filter-label:hover {
  background-color: #fefefe;
  border-color: #0a76f6;
}

.container {
  position: fixed;
  inset: 0;
  width: min(480px, calc(100vw - 32px));
  max-height: calc(100vh - 32px);
  padding: 24px;
  margin: auto;
  overflow-y: auto;
  color: var(--text-default-grey);
  background: var(--background-default-grey);
  border: none;
  border-radius: 4px;
}
.container::backdrop {
  background: #0008;
}
.filter-container {
  margin-top: 16px;
}
