.simpleHorizontalSeparator {
  margin: 15px 0;
  width: 100%;
  background-color: var(--annuaire-colors-pastelBlue);
  height: 1px;
}

.horizontalSeparator {
  width: 100%;
  margin: 40px 0;
}
.horizontalSeparatorLine {
  width: 50px;
  background-color: var(--annuaire-colors-pastelBlue);
  height: 2px;
  margin: 0 10px;
}

.horizontalSeparatorCircle {
  width: 7px;
  height: 7px;
  border-radius: 20px;
  background-color: var(--annuaire-colors-pastelBlue);
}
