.advanced-search-tutorial {
  position: relative;
  padding-bottom: 20px;
}

.advanced-search-tutorial > svg {
  position: absolute;
  top: -20px;
  height: 100px;
}
.advanced-search-tutorial > div {
  margin-left: 110px;
}

.title {
  margin: 30px 0 16px;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1.9rem;
}

.advanced-search-tutorial > div ul {
  padding: 0;
  margin-top: 30px;
  list-style-type: none;
}
.advanced-search-tutorial > div ul li {
  margin: 0 0 20px;
}

@media only screen and (min-width: 1px) and (max-width: 576px) {
  .advanced-search-tutorial > svg {
    position: absolute;
    top: -45px !important;
    height: 70px !important;
    rotate: 225deg;
  }

  .advanced-search-tutorial > div {
    margin-left: 0;
  }
  .title {
    margin: 10px 0 16px;
  }
}
