.centered-search h1 {
  position: relative;
  font-size: 2.2rem;
  line-height: 4rem;
  text-align: center;
}

.diamond {
  position: relative;
}

.diamond > span {
  position: absolute;
  top: -25px;
  left: -30px;
  z-index: -1;
  color: #ffeff0;
}

.sub-title {
  margin-top: 20px;
  text-align: center;
}

.centered-search {
  flex-direction: column;
  max-width: 900px;
  margin: auto;
  margin-top: 10vh;
  margin-bottom: 18vh;
}

.search-bar-wrapper {
  flex-direction: column;
  width: 100%;
  max-width: 450px;
  margin: auto;
  margin-top: 30px;
}

.reassurance {
  height: 100%;
  padding: 10px 20px;
  background: #f4f4f4;
  border-radius: 2px;
}

.reassurance h2 {
  margin-top: 10px;
}

@media only screen and (min-width: 1px) and (max-width: 576px) {
  .centered-search h1 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .diamond > span {
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
  }

  .centered-search {
    margin-bottom: 15vh;
  }
}
